body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-top: 60px;
  margin-left: 60px;
}

.colorbox {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  /* background-color: lightcoral */
  border-radius: 10%;
}

p {
  font-weight: bold;
}

span {
  font-weight: 500;
}
